# Webscraping na B3
### Composição de índices
- tutorial por @victordhn

### Alguns pontos importantes:
- É preciso usar o tag exato do índice na B3 (alguns exemplos: IBOV, IBXX, IBXL, IBRA, IGCX, ITAG, IGNM, IGCT, IDIV, MLCX, SMLL, IVBX, ICO2, ISEE, ICON, IEEX, IFNC, IMOB)
- Os pacotes utilizados nesse código mudam constantemente, assim como o site de B3. Vou tentar manter o status do código atualizado
- A data do último teste do código foi 09/07/2023: funcionando
- O programa baixa e deleta o arquivo da B3 no seu computador, então pode existir algum problema caso seu sistema recuse o download.
- Para sanar o problema acima, é possível rodar o programa no Google Colab, que executa o download direto para o ambiente do site e não para sua máquina

### Libraries utilizadas:
- selenium
- os
- glob
- time
- numpy
- pandas

In [1]:
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from time import sleep

# para ignorar uns warnings chatos do Jupyter
import warnings
warnings.filterwarnings('ignore')

- Muita atenção aqui pois você vai precisar alterar o código e colocar o endereço da sua pasta padrão de downloads

In [2]:
# Vamos definir uma função para facilitar na hora de executar para diferentes índices
def composicao_indice(indice,espera=2):
    
    # Aqui vamos utilizar o selenium para o webscraping. 
    # Pra resumir, vamos rodar um Chrome através do Selenium, iremos na url do índice na B3 e vamos procurar pelo link chamado 'Download' nos elementos da página.
    driver = webdriver.Chrome()
    driver.get('https://sistemaswebb3-listados.b3.com.br/indexPage/day/'+indice+'?language=pt-br')
    elementos = driver.find_elements(By.LINK_TEXT, 'Download')
    sleep(espera) # A função sleep apenas dá um tempo para que a página abra corretamente
    
    # Os elementos ficam armazenados na lista. Como só tem um link_text download, vamos executar o método click nele para começar o download
    elementos[0].click()
    sleep(espera)
    
    # Esta parte utiliza o package glob para armazenar o nome de todos arquivos csv da pasta download numa lista
    # Em seguida, vamos utilizar o mais recente, que é justamente o que 'acabamos' de baixar
    import glob
    import os
    list_of_files = glob.glob('C:/Users/Victor/Downloads/*.csv') # UTILIZAR A SUA PASTA DOWNLOADS
    latest_file = max(list_of_files, key=os.path.getctime)
    
    df = pd.read_csv(latest_file,sep=';',encoding='ISO-8859-1',skipfooter=2,thousands='.',decimal=',',header=1,index_col=False)
    
    os.remove(latest_file) # este comando deleta o arquivo logo após o seu conteudo ser passado pra variável df
    
    return df

In [3]:
IBOV = composicao_indice('IBOV')

In [4]:
IBOV

   Código          Ação        Tipo  Qtde. Teórica  Part. (%)
0   RRRP3  3R PETROLEUM  ON      NM      234689601      0.365
1   ALSO3  ALIANSCSONAE  ON      NM      532365440      0.654
2   ALPA4    ALPARGATAS  PN      N1      201952502      0.090
3   ABEV3     AMBEV S/A          ON     4386652506      3.142
4   ARZZ3     AREZZO CO  ON  EJ  NM       60758326      0.245
..    ...           ...         ...            ...        ...
81  VALE3          VALE  ON      NM     4035078991     12.743
82  VIIA3           VIA  ON      NM     1576975642      0.161
83  VBBR3         VIBRA  ON      NM     1114442976      0.984
84  WEGE3           WEG  ON      NM     1260665218      2.250
85  YDUQ3    YDUQS PART  ON      NM      296015511      0.286

[86 rows x 5 columns]

In [5]:
IBrX_50 = composicao_indice('IBXL')

In [6]:
IBrX_50

    Código          Ação        Tipo  Qtde. Teórica  Part. (%)
0    RRRP3  3R PETROLEUM  ON      NM      234689601      0.404
1    ABEV3     AMBEV S/A          ON     4386652506      3.473
2    ASAI3         ASSAI  ON      NM     1190824431      0.889
3    AZUL4          AZUL  PN      N2      327646296      0.337
4    B3SA3            B3  ON      NM     5733398051      4.389
5    BBSE3  BBSEGURIDADE  ON      NM      671682536      1.122
6    BBDC4      BRADESCO  PN  EJ  N1     5146612491      4.467
7    BBAS3        BRASIL  ON      NM     1420731069      3.784
8    BRFS3        BRF SA  ON      NM     1076512610      0.579
9   BPAC11    BTGP BANCO  UNT     N2     1225470424      2.104
10   CCRO3        CCR SA  ON      NM      998462635      0.734
11   CMIG4         CEMIG  PN      N1     1442098974      0.968
12   CIEL3         CIELO  ON      NM     1095401258      0.272
13   CSAN3         COSAN  ON      NM     1171063698      1.184
14   CYRE3  CYRELA REALT  ON      NM      274142301      0.307
15   ELET3    ELETROBRAS  ON      N1     2019004498      4.254
16   ELET6    ELETROBRAS  PNB     N1      275526814      0.644
17   EMBR3       EMBRAER  ON      NM      734632205      0.714
18   ENEV3         ENEVA  ON      NM     1577877205      1.051
19   EQTL3    EQUATORIAL  ON      NM     1115920673      1.961
20   GGBR4        GERDAU  PN      N1     1093112629      1.523
21   NTCO3  GRUPO NATURA  ON      NM      838904847      0.748
22   HAPV3       HAPVIDA  ON      NM     4324011467      1.008
23   HYPE3        HYPERA  ON  EJ  NM      400842480      0.977
24   ITSA4        ITAUSA  PN      N1     5233076295      2.717
25   ITUB4  ITAUUNIBANCO  PN  EJ  N1     4801630041      7.460
26   JBSS3           JBS  ON      NM     1134986483      1.074
27  KLBN11    KLABIN S/A  UNT     N2      701899756      0.818
28   RENT3      LOCALIZA  ON  EJ  NM      841062110      3.145
29   LREN3  LOJAS RENNER  ON      NM      950702967      1.035
30   MGLU3   MAGAZ LUIZA  ON      NM     2874188573      0.488
31   MRFG3       MARFRIG  ON      NM      292587273      0.117
32   BEEF3       MINERVA  ON      NM      260340982      0.146
33   MULT3     MULTIPLAN  ON  EJ  N2      266933994      0.391
34   PETR3     PETROBRAS  ON      N2     3701760571      6.538
35   PETR4     PETROBRAS  PN      N2     4566511125      7.182
36   PRIO3      PETRORIO  ON      NM      839159130      1.760
37   PETZ3          PETZ  ON  EJ  NM      335865260      0.131
38   RADL3  RAIADROGASIL  ON  EJ  NM     1243912161      1.889
39   RDOR3     REDE D OR  ON      NM     1095177074      1.847
40   RAIL3     RUMO S.A.  ON      NM     1215642613      1.473
41   SBSP3        SABESP  ON      NM      340002999      1.015
42   CSNA3  SID NACIONAL          ON      589695175      0.400
43   SUZB3   SUZANO S.A.  ON      NM      726823001      1.725
44   TOTS3         TOTVS  ON      NM      513869896      0.836
45   USIM5      USIMINAS  PNA     N1      515014562      0.207
46   VALE3          VALE  ON      NM     4448529763     15.524
47   VIIA3           VIA  ON      NM     1576975642      0.178
48   VBBR3         VIBRA  ON      NM     1114442976      1.088
49   WEGE3           WEG  ON      NM     1481593024      2.923

In [7]:
SMALL_CAPS = composicao_indice('SMLL')

In [8]:
SMALL_CAPS

    Código          Ação        Tipo  Qtde. Teórica  Part. (%)
0    RRRP3  3R PETROLEUM  ON      NM      234689601      2.293
1    TTEN3       3TENTOS  ON      NM      113777586      0.466
2    ABCB4    ABC BRASIL  PN  EJS N2       70127732      0.385
3    AERI3         AERIS  ON      NM      227070796      0.094
4    AESB3    AES BRASIL  ON      NM      315209392      1.159
..     ...           ...         ...            ...        ...
113  VIVA3   VIVARA S.A.  ON      NM       99216524      0.884
114  VULC3     VULCABRAS  ON      NM       73359191      0.387
115  WIZC3        WIZ CO  ON      NM       75275228      0.148
116  YDUQ3    YDUQS PART  ON      NM      296015511      1.793
117  ZAMP3     ZAMP S.A.  ON      NM      270582179      0.381

[118 rows x 5 columns]